html, body {
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(44, 43, 43);
    color: rgb(74, 128, 74);
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.news {
    border: 1px solid rgb(54, 141, 71);
    margin: 5px;
}
